# =============================================================================
# ansible/ansible.cfg — Configuration Ansible locale au projet
# Surcharge la config globale pour ce projet uniquement
# =============================================================================

[defaults]
inventory          = ansible/inventory.ini
host_key_checking  = False
retry_files_enabled = False
# Utilise le callback natif ansible-core avec format yaml (remplace community.general.yaml)
stdout_callback    = ansible.builtin.default
result_format      = yaml
callbacks_enabled  = timer, profile_tasks
interpreter_python = auto_silent
collections_path   = ~/.ansible/collections

# Accélère les connexions SSH
[ssh_connection]
pipelining         = True
ssh_args           = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30